$body-ff: "Plus Jakarta Sans", sans-serif;
$heading-ff: "Plus Jakarta Sans", sans-serif;

$dark-green-color:#13183F;
$silver-color:#83869A;
$purple-color:#666CA3;
$pink-color:#F74780;
$pink-light-color:#FFA7C3;
$white-color:#FFFFFF;
$yellow-pink-color: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
$purple-pink-color: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);

